<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">Ordini ricevuti</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Ordini</th>
                    <th class="px-4 py-2 text-left">Cliente</th>
                    <th class="px-4 py-2 text-left">Note</th>
                    <th class="px-4 py-2 text-left">Stato</th>
                    <th class="px-4 py-2 text-left">Data e ora</th>
                    <th class="px-4 py-2 text-left">Ordinato alle</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
                
            </tbody>
        </table>
    </div>
</section>